@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Signika:wght@300..700&display=swap");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.bg-primary {
  background-color: #0097e6;
  color: #fff;
}

.header {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.item-header {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.text-bold {
  font-weight: 700;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  transition: all 1s;
  background-position: 100% 0;
  background-size: 300%;
}

.btn:hover {
  background-position: 0 100%;
  color: #0097e6;
}

.btn-one {
  border-color: #fff;
  color: #fff;
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%);
}

.btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);
}

.btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%);
}

.btn-four {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: #0097e6;
}

.btn-two:hover,
.btn-three:hover,
.btn-four:hover {
  color: #fff;
}

/* Navigation first level */
.navigation {
  background-color: #0097e6;
  padding: 12px 0;
}
.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navigation ul li {
  display: inline-block;
  position: relative;
  padding: 0 24px;
}
.navigation a {
  text-decoration: none;
  color: #fff;
}
.navigation a:hover {
  color: #33d9b2;
}

/* Navigation second level */
.navigation ul ul {
  display: none;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.navigation ul ul li {
  display: block;
  padding: 6px 24px;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation ul ul li a {
  color: #0097e6;
}

.navigation li:hover ul {
  display: block;
}

/* Splash */
.splash {
  background-color: #0097e6;
  color: #fff;
  min-height: 500px;
  display: flex;
}
.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}
.splash .splash-inner h1 {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 400;
  line-height: 1.2;
}
.splash .splash-inner h2 {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}
.splash .splash-inner .page-title span {
  font-weight: 700;
  font-family: "Signika", sans-serif;
}

/* Our Services */
.services {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  flex: 0 0 33.333%;
  position: relative;
  padding: 0 10px;
}
.service-item__number {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 144px;
  line-height: 1;
  z-index: 0;
  font-weight: bold;
  color: #33d9b2;
  font-family: "Signika", sans-serif;
  opacity: 0.2;
}

/* Our work */
.our-work {
  display: flex;
  flex-wrap: wrap;
}

.our-work-item {
  flex: 0 0 50%;
  display: flex;
  min-height: 300px;
  padding: 10px;
  margin-bottom: 20px;
}
.our-work-item__image {
  flex-basis: 50%;
  width: 100%;
  max-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.our-work-item__image::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #33d9b2;
  opacity: 0.3;
  transition: all 1s;
}
.our-work-item__image:hover::after {
  top: 0;
  left: 0;
}
.our-work-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-work-item__content {
  flex-basis: 50%;
  padding: 40px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contact */
.contact {
  display: flex;
  gap: 6px;
}

.contact-form {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #fff;
}
.contact-form input,
.contact-form textarea,
.contact-form label {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Inconsolata", monospace;
  outline: none;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-info {
  flex: 0 0 35%;
}
.contact-info__item {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */