@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Signika:wght@300..700&display=swap');

//   font-family: "Signika", sans-serif;
//   font-family: "Inconsolata", monospace;

/* Variables */
$general-primary-color: #0097e6;
$general-secondary-color: #33d9b2;
$general-tertiary-color: #ff5252;
$text-primary-color: #2c2c54;
$text-secondary-color: #fff;
$transition: all 1s;

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Inconsolata', monospace;
  color: $text-primary-color;
  // background-color: gray;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.bg-primary {
  background-color: $general-primary-color;
  color: $text-secondary-color;
}

.header {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.item-header {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.text-bold {
  font-weight: 700;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  transition: $transition;
  background-position: 100% 0;
  background-size: 300%;
}

.btn:hover {
  background-position: 0 100%;
  color: $general-primary-color;
}

.btn-one {
  border-color: $text-secondary-color;
  color: $text-secondary-color;
  background-image: linear-gradient(
    90deg,
    $text-secondary-color 50%,
    transparent 50%
  );
}

.btn-two {
  border-color: $general-secondary-color;
  color: $general-secondary-color;
  background-image: linear-gradient(
    90deg,
    $general-secondary-color 50%,
    transparent 50%
  );
}

.btn-three {
  border-color: $general-tertiary-color;
  color: $general-tertiary-color;
  background-image: linear-gradient(
    90deg,
    $general-tertiary-color 50%,
    transparent 50%
  );
}

.btn-four {
  border-color: $general-primary-color;
  color: $general-primary-color;
  background-image: linear-gradient(
    90deg,
    $general-primary-color 50%,
    transparent 50%
  );
}

.btn-five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: $general-primary-color;
}

.btn-two:hover,
.btn-three:hover,
.btn-four:hover {
  color: $text-secondary-color;
}

/* Navigation first level */
.navigation {
  background-color: $general-primary-color;
  padding: 12px 0;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      position: relative;
      padding: 0 24px;
    }
  }

  a {
    text-decoration: none;
    color: $text-secondary-color;

    &:hover {
      color: $general-secondary-color;
    }
  }
}

/* Navigation second level */
.navigation ul ul {
  display: none;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

  li {
    display: block;
    padding: 6px 24px;
    background-color: $text-secondary-color;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: $general-primary-color;
    }
  }
}

.navigation li:hover ul {
  display: block;
}

/* Splash */
.splash {
  background-color: $general-primary-color;
  color: $text-secondary-color;
  min-height: 500px;
  display: flex;

  .splash-inner {
    margin: auto;
    max-width: 70%;

    h1 {
      margin: 0;
      font-size: 72px;
      word-spacing: -24px;
      font-weight: 400;
      line-height: 1.2;
    }

    h2 {
      margin: 24px 0;
      font-weight: 400;
      font-size: 16px;
    }

    .page-title {
      span {
        font-weight: 700;
        font-family: 'Signika', sans-serif;
      }
    }
  }
}

/* Our Services */
.services {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  flex: 0 0 33.333%;
  position: relative;
  padding: 0 10px;

  &__number {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 144px;
    line-height: 1;
    z-index: 0;
    font-weight: bold;
    color: $general-secondary-color;
    font-family: 'Signika', sans-serif;
    opacity: 0.2;
  }
}

/* Our work */
.our-work {
  display: flex;
  flex-wrap: wrap;
}

.our-work-item {
  flex: 0 0 50%;
  display: flex;
  min-height: 300px;
  padding: 10px;
  margin-bottom: 20px;

  &__image {
    flex-basis: 50%;
    width: 100%;
    max-width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $general-secondary-color;
      opacity: 0.3;
      transition: $transition;
    }

    &:hover::after {
      top: 0;
      left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex-basis: 50%;
    padding: 40px 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Contact */
.contact {
  display: flex;
  gap: 6px;
}

.contact-form {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  padding-right: 80px;

  input,
  textarea {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $text-secondary-color;
  }

  input,
  textarea,
  label {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Inconsolata', monospace;
    outline: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: $text-secondary-color;
    font-weight: 300;
  }
}

.contact-info {
  flex: 0 0 35%;
  &__item {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li {
      width: 60px;
      height: 60px;
      font-size: 30px;
      background-color: $general-tertiary-color;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
    }

    a {
      color: $text-secondary-color;
    }
  }
}
